[Desktop Entry]
Name=Penscript
Comment=Minimalist Markdown note-taking app
Exec=penscript
Icon=com.github.san0808.penscript.svg
Terminal=false
Type=Application
Categories=Utility;TextEditor;
StartupNotify=true